@model StudentManagement.ViewModel.CourseViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <h4>Course</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" id="editForm">
                    <input asp-for="Id" class="form-control" hidden />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FacultyId" class="control-label"></label>
                        <select asp-for="FacultyId" class="form-control" asp-items="@(new SelectList(Model.FacultyList, nameof(FacultyModel.FacultyId), nameof(FacultyModel.FacultyName)))">
                            <option>Choose your Faculty</option>

                        </select>
                        <span asp-validation-for="FacultyId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="btnSave" type="button" class="btn btn-primary">update</button>
                    </div>
                </form>
            </div>
        </div>

        @*<div>
                <a class="btn btn-danger" asp-action="Index">Back to List</a>
            </div>*@

        <br />

        <br />
        <table id="tblCourse" class="table table-striped table-bordered course">
            <thead>
                <tr>
                    <th>Course Id</th>
                    <th>Name</th>
                    <th>Faculty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger
        LoadData();
        $("#btnSave").click(function () {
            //var faculty = {
            //    "Name": $("#Name").val(),
            //    "FacultyId": $("#FacultyId").val()
            //};
            var course = $("#editForm").serialize();

            $.ajax({
                type: 'POST',
                url: '/Course/Create',
                data: course,
                async: false,
                success: function (result) {
                    LoadData();
                    $("form").trigger("reset");

                },
                error: function (result) {
                    Error = "Data insert failed"
                }
            });
        });


        $('#tblCourse').pqGrid({
        });
    });
    function LoadData() {
        debugger;
        $('#tblCourse tbody').empty();
        $.ajax({
            type: "GET",
            url: "/Course/GetAllCourses",
            async: false,
            //dataType: "json",
            //data: { id: '' },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + "<td class='prtoducttd'>" + item.id + "</td>"
                        + "<td class='prtoducttd'>" + item.name + "</td>"
                        + "<td class='prtoducttd'>" + item.facultyName + "</td>"
                        + "</tr>";
                    $('#tblCourse tbody').append(rows);
                });
            },
            error: function (ex) {
                //var r = jQuery.parseJSON(response.responseText);
                //alert("Message: " + r.Message);
                //alert("StackTrace: " + r.StackTrace);
                //alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }
</script>